@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<script src="~/Content/js/indextab.js?v=1.1" charset="gbk"></script>
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }

    .SelectBG {
        background-color: #cecece;
        color: #000000;
    }
</style>
<!---------基本信息------->
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    var IsSpSee = $.request("IsSpSee");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        initControl();
        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "WorkOrder")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#formd").formSerialize(data.Item1[0]);
                    $("#DistributionTime").val(formatDatebox(data.Item1[0].DistributionTime));
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传").removeClass("Isfile").addClass("IsYesfile");
                        $("#uplaodFilelook").show();
                    }
                    $("#uplaodFile").hide();
                    lodeList(data.Item2, 2);//加载明细信息
                }
            });
        }
    });
    function initControl() {
        //加急程度
        $("#UrgentDegree").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "UrgentDegree" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
        //订单类型
        $("#OrderType").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "OrderType" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });

        if (IsSpSee) {
            $("#QRImg").hide();
        } else {
            $("#QRImg").show();
        }
    }

    //选项卡
    function selectTab(v) {
        var id = v.attr('id');
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }

    //查看打包二维码页面
    function SeePackQr() {
        var PackState = $("#PackState").val();
        if (PackState == "未打包") {
            $.modalMsg("该订单中的构件信息还未打包！！", "warning");
            return null;
        } else {
            var OrderCode = $("#OrderCode").val();
            $.currentWindow().selectTabNew("OrderPack_tab_", OrderCode);
        }
    }
</script>

<!---------附件列表------->
<script type="text/javascript">
    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "detail", "WorkOrder");
    }
</script>

<!---------明细信息------->
<script type="text/javascript">
    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 160,
            colModel: [
                    { label: "主键", name: "ID", hidden: true },
                    { label: '车站编号', name: 'StationCode', width: 120, height: 10, align: "left", sortable: false },
                    { label: '专业', name: 'ComponentMajor', width: 120, height: 10, align: "left", sortable: false },
                    { label: '大系统', name: 'BigSystem', width: 120, height: 10, align: "left", sortable: false },
                    { label: '子系统', name: 'SonSystem', width: 120, height: 10, align: "left", sortable: false },
                    { label: '系统类型', name: 'SystemType', width: 120, align: "left", sortable: false },
                    { label: '材料类型', name: 'MaterialType', width: 120, align: "left", sortable: false },
                    { label: '构件编码', name: 'MxGjBm', width: 260, align: "left", sortable: false },
                    { label: '构件编号', name: 'ComponentCode', hidden: true },
                    { label: '构件名称', name: 'ComponentName', width: 160, align: "left", sortable: false },
                    { label: '材质', name: 'MaterialQuality', width: 120, align: "left", sortable: false },
                    { label: '规格尺寸', name: 'SpecificationModel', width: 160, align: "left", sortable: false },
                    { label: '长度', name: 'Length', width: 80, align: "left", sortable: false },
                    { label: '面积', name: 'Area', width: 80, align: "left", sortable: false },
                    { label: '备注', name: 'Remark', width: 160, align: "left", sortable: false, editable: true },
                    { label: '样图', name: 'LargePatternShow', width: 200, align: "left", sortable: false },
                    { label: '样图', name: 'LargePattern', hidden: true },
                    { label: '构建状态', name: 'ComponentStrat', hidden: true },
                    { label: '模型构建id', name: 'MxGjId', hidden: true },
                    { label: '是否打包', name: 'IsPack', hidden: true },
                    { label: '是否签收', name: 'IsSignFor', hidden: true },
                    { label: '是否安装', name: 'IsInstall', hidden: true },
                    { label: '打包日期', name: 'PackInfo', width: 150, align: "left", formatter: NewCellPackInfo },
                    { label: '签收日期', name: 'SignForInfo', width: 150, align: "left", formatter: NewCellSignForInfo },
                    { label: '安装日期', name: 'InstallInfo', width: 160, align: "left", formatter: NewCellInstallInfo },

            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            },
            onCellSelect: function (rowid, iCol, cellContent, e) {
                $gridList.jqGrid('editRow', rowid, true, null, null, null, null, null, null, null, iCol);
                //获取表格最后一行Id
                var selectedRowIds = $gridList.jqGrid("getDataIDs");
                var id = selectedRowIds[selectedRowIds.length - 1];
                if (rowid && (rowid !== lastsel || rowid == id)) {
                    $gridList.jqGrid('saveRow', lastsel);
                    $gridList.jqGrid('editRow', rowid, true);
                    lastsel = rowid;
                    $("#gridList>tbody").find("input:text").each(function () {
                        var width = parseInt($(this).css("width").replace('px', '')) - 25;
                        $(this).css("height", "20px").css("width", width + "px");
                    });
                }
            }
        });
    }
    function NewCellPackInfo(cellValue, options, rowObject) {
        var tdhtml = ""
        if (rowObject.IsPack == "是") {
            tdhtml += rowObject.PackUserName + "/" + formatDatebox(rowObject.PackDate);
        }
        return tdhtml;
    }
    function NewCellSignForInfo(cellValue, options, rowObject) {
        var tdhtml = ""
        if (rowObject.IsSignFor == "是") {
            tdhtml += rowObject.SignForUserName + "/" + formatDatebox(rowObject.SignForDate);
        }
        return tdhtml;
    }
    function NewCellInstallInfo(cellValue, options, rowObject) {
        var tdhtml = ""
        if (rowObject.IsInstall == "是") {
            tdhtml += rowObject.InstallUserName + "/" + formatDatebox(rowObject.InstallDate);
        }
        return tdhtml;
    }
    //加载列表数据
    function lodeList(data, type) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        if (type == 2) {
            $.each(mydata, function (i, item) {
                if (item.LargePattern) {
                    item.LargePatternShow = "<span id=\"uplaodFileTitle-" + index + "\" class=\"IsYesfile\">已上传</span>&nbsp;&nbsp;<a class=\"layui-layer-btn0 btn btn-primary\" id=\"uplaodFilelook-" + index + "\" onclick=\"uplaodFilelookDetail(" + index + ");\">查看</a>";
                } else {
                    item.LargePatternShow = "<span id=\"uplaodFileTitle-" + index + "\" class=\"Isfile\">未上传</span>&nbsp;&nbsp;<a class=\"layui-layer-btn0 btn btn-primary\" id=\"uplaodFilelook-" + index + "\" onclick=\"uplaodFilelookDetail(" + index + ");\" style=\"display:none;\">查看</a>";
                }
                index++;
            });
        }
        $("#gridList")[0].addJSONData(data);

    }

    //查看附件
    function uplaodFilelookDetail(index) {
        var data = $("#gridList #" + index + ">td");
        var fj = data[17].innerHTML;
        if (!fj || fj == "&nbps;") {
            fj = "";
        }
        showFile(fj, "form", "WorkOrder", true, index);
    }

</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="MXXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
        <li id="QRImg" onclick="SeePackQr()" style="display:none">
            <a class='aTable' onclick="SeePackQr()" data-id='OrderPack' style="padding:0px;">
                <img src="~/Content/img/QRImg.jpg" width="38" height="38" />
            </a>
        </li>
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px;margin-right:20px;">
        <form id="formd">
            <input id="ID" name="ID" type="hidden" />
            <input id="Examinestatus" name="Examinestatus" type="hidden" value="未发起" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <input id="ProjectId" name="ProjectId" type="hidden" />
            <input id="PackState" name="PackState" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">订单编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="OrderCode" name="OrderCode" type="text" disabled="disabled" value="@ViewBag.OrderCode" class="form-control required" />
                    </td>
                    <th class="formTitle">站点名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="OnlySiteCode" name="OnlySiteCode" type="hidden" />
                            <input id="SiteCode" name="SiteCode" hidden="hidden" value="@ViewBag.SiteCode" />
                            <input id="SiteName" name="SiteName" type="text" readonly="readonly" value="@ViewBag.SiteName" class="form-control required" />
                            <span class="input-group-btn" onclick="selectCompanyAllSite('5')">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">专业<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="Major" name="Major" type="text" value="" class="form-control" disabled="disabled" />
                    </td>
                    <th class="formTitle">系统类型<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SystemType" name="SystemType" type="text" value="" class="form-control" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">要求送达日期<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DistributionTime" name="DistributionTime" type="text" value="" readonly="readonly" class="form-control required input-wdatepicker" />
                    </td>
                    <th class="formTitle">总件数<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SumNumber" name="SumNumber" type="text" value="0" readonly="readonly" class="form-control required required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">紧急程度<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="UrgentDegree" name="UrgentDegree" class="form-control required"></select>
                    </td>
                    <th class="formTitle">订单类型<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="OrderType" name="OrderType" class="form-control required"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 60px; padding-right: 1px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue" colspan="3">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFile" onclick="Uplaod();">上传</a>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" type="text" value="@ViewBag.UserName" disabled="disabled" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" disabled="disabled" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="MXXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>
