@{
    ViewBag.Title = "加工订单主页";
    Layout = null;
}

<style type="text/css">
    .SelectBG {
        background-color: #c6c6c6;
        color: #000000;
    }

    .ui-jqgrid tr.jqgrow td {
        vertical-align: middle;
    }

    .zzjgtj {
        color: #6c6c6c;
    }
</style>
<script>
    var day = "";
    $(function () {
        $.LodeMenuBtn("/Production/WorkOrder/Index", "#toolbar_WorkOrder");
        initControl();
        gridList_WorkOrder();
        var height = $("#ui-layout-center").height();
        $("#ui-layout-center").height(height - 20);
    });
    function layout_center_bottom() {
        var height = $("#ui-layout-center").height();
        $("#ui-layout-center").height(height - 20);
    }
    //初始化加载查询条件
    function initControl() {
        //加工状态
        $("#ProcessingState").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "ProcessingState" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
        //加急程度
        $("#UrgentDegree").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "UrgentDegree" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
    }

    //点击组织机构加载数据
    function clickOrgLoadGridList(code) {
        getOrganizationalCode("gridList_WorkOrder", code);
    }

    //----------------加载列表数据开始------------
    function gridList_WorkOrder() {
        var $gridList = $("#gridList_WorkOrder");
        $gridList.dataGrid({
            url: "@Url.Action("GetGridJson", "WorkOrder")",
            height: $(window).height() * 0.7,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: '站点名称', name: 'SiteName', width: 140, align: 'left', sortable: false },
                { label: '订单编号及类型', name: 'OrderCodeOrType', width: 140, align: 'left', sortable: false, formatter: NewCellOrderCodeOrType },
                { label: '订单状态', name: 'OrderStateOrEx', width: 100, align: 'left', sortable: false, formatter: NewCellOrderStateOrEx },
                { label: "专业", name: "Major", width: 120, align: 'left', sortable: false },
                { label: '系统类型', name: 'SystemType', width: 120, align: 'left', sortable: false },
                { label: '总件数', name: 'SumNumber', width: 70, align: 'left', sortable: false },
                { label: '要求送达日期', name: 'DistributionTime', width: 120, align: 'left', sortable: false, formatter: formatDatebox },
                { label: '打包状态', name: 'PackStateOrNum', width: 80, align: 'left', sortable: false, formatter: NewCellPackStateOrPackNum },
                { label: '现场签收', name: 'SignForStateOrCz', width: 80, align: 'left', sortable: false, formatter: NewCellSignForStateOrCz },
                { label: '现场安装', name: 'InstallStateOrCz', width: 80, align: 'left', sortable: false, formatter: NewCellInstallStateOrCz },
                { label: '录入人', name: 'InsertUserCode', hidden: true },
                { label: '录入人及时间', name: 'UserName', width: 120, align: 'left', sortable: false, formatter: NewCellInsertUserOrTiem },
                { label: '项目ID', name: 'ProjectId', hidden: true },
                { label: '审批状态', name: 'Examinestatus', hidden: true },
                { label: '订单状态', name: 'OrderCode', hidden: true },
                { label: '订单状态', name: 'OrderState', hidden: true },
                { label: '订单类型', name: 'OrderType', hidden: true },
                { label: '加急程度', name: 'UrgentDegree', hidden: true },
                { label: '打包状态', name: 'PackState', hidden: true },
                { label: '签收状态', name: 'SignForState', hidden: true },
                { label: '安装状态', name: 'InstallState', hidden: true }
            ],
            ondblClickRow: function (id) {//双击
                btn_details_WorkOrder();
            },
            gridComplete: function () {
                //var ids = $("#gridList_WorkOrder").getDataIDs();
                //$gridList.setSelection(ids[0], true);
            },
            onCellSelect: function (id) {//单击

            },
            pager: "#gridPager_WorkOrder",
            sortname: 'InsertTime',
            sortorder: 'desc',
            viewrecords: true,
            shrinkToFit: false,
        });
        //回车查询
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $('#btn_search').trigger("click");
            }
        }
    }

    function NewCellOrderCodeOrType(cellValue, options, rowObject) {
        var tdhtml = rowObject.OrderCode + "<br/>";
        if (rowObject.UrgentDegreeNew == "加急") {
            tdhtml += "<span style='color:red'>" + rowObject.UrgentDegreeNew + "</span>";
        } else {
            tdhtml += rowObject.UrgentDegreeNew;
        }
        tdhtml += " (" + rowObject.OrderTypeNew + ")";
        return tdhtml;
    }

    function NewCellOrderStateOrEx(cellValue, options, rowObject) {
        var tdhtml = "";
        if (rowObject.OrderState == "加工中") {
            tdhtml += "<span style='color:red'>" + rowObject.OrderState + "</span><br/>";
        } else if (rowObject.OrderState == "加工完成") {
            tdhtml += "<span style='color:green'>" + rowObject.OrderState + "</span><br/>";
        } else {
            tdhtml += rowObject.OrderState + "<br/>";
        }
        if (rowObject.Examinestatus == "审批中") {
            tdhtml += "<span style='color:red'>" + rowObject.Examinestatus + "</span>";
        } else if (rowObject.Examinestatus == "审核完成") {
            tdhtml += "<span style='color:green'>" + rowObject.Examinestatus + "</span>";
        } else {
            tdhtml += rowObject.Examinestatus;
        }
        return tdhtml;
    }

    function NewCellPackStateOrPackNum(cellValue, options, rowObject) {
        var tdhtml = "";
        if (rowObject.PackState == "打包完成") {
            tdhtml += "<span style='color:green'>" + rowObject.PackState + "</span></br>";
        } else if (rowObject.PackState == "部分打包") {
            tdhtml += "<span style='color:red'>" + rowObject.PackState + "</span></br>";
        } else {
            tdhtml += rowObject.PackState + "</br>";
        }
        tdhtml += "包数：" + rowObject.PackNum
        return tdhtml;
    }

    function NewCellSignForStateOrCz(cellValue, options, rowObject) {
        var tdhtml = "";
        if (rowObject.SignForState == "未签收") {
            tdhtml += rowObject.SignForState + "<br/>";
            tdhtml += "<a class=\"btn btn-primary\" onclick=\"AddSignFor('" + rowObject.OrderCode + "','" + rowObject.Examinestatus + "');\">签收</a>";
        } else if (rowObject.SignForState == "部分签收") {
            tdhtml += "<span style='color:red'>" + rowObject.SignForState + "</span><br/>";
            tdhtml += "<a class=\"btn btn-primary\" onclick=\"AddSignFor('" + rowObject.OrderCode + "','" + rowObject.Examinestatus + "');\">签收</a>";
        } else {
            tdhtml += "<span style='color:green'>" + rowObject.SignForState + "</span><br/>";
        }
        return tdhtml;
    }

    function NewCellInstallStateOrCz(cellValue, options, rowObject) {
        var tdhtml = "";
        if (rowObject.InstallState == "未安装") {
            tdhtml += rowObject.InstallState + "<br/>";
            tdhtml += "<a class=\"btn btn-primary\" onclick=\"AddInstall('" + rowObject.OrderCode + "','" + rowObject.Examinestatus + "');\">安装</a>";
        } else if (rowObject.InstallState == "部分安装") {
            tdhtml += "<span style='color:red'>" + rowObject.InstallState + "</span><br/>";
            tdhtml += "<a class=\"btn btn-primary\" onclick=\"AddInstall('" + rowObject.OrderCode + "','" + rowObject.Examinestatus + "');\">安装</a>";
        } else {
            tdhtml += "<span style='color:green'>" + rowObject.InstallState + "</span><br/>";
        }
        return tdhtml;
    }

    function NewCellInsertUserOrTiem(cellValue, options, rowObject) {
        var tdhtml = rowObject.UserName + "<br/>" + formatDatebox(rowObject.InsertTime);
        return tdhtml;
    }
    //----------------加载列表数据结束--------------
    //添加订单
    function btn_add_WorkOrder() {
        var where = "?type=add";
        var id = $('#ZZJG_tab_Info').jqGrid('getGridParam', 'selrow');
        var CompanyData = $("#ZZJG_tab_Info").jqGrid('getRowData', id);
        if (CompanyData.OrgType == "5") {
            where += "&CompanyCode=" + CompanyData.CompanyCode + "&CompanyFullName=" + CompanyData.CompanyFullName + "&ProjectId=" + CompanyData.FullCode;
        }
        CommonOpenAdd({
            id: "Form",
            title: "新增加工订单",
            url: "@Url.Action("Form", "WorkOrder")" + where,
            windowType: 2,
            btnText: '确认并发起'
        });
    }
    function OpenForLC() {
        var data = {
            width: "85%",
            height: "85%",
        };
        return data;
    }

    //修改订单
    function btn_edit_WorkOrder() {
        var keyValue = $("#gridList_WorkOrder").jqGridRowValue().ID;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.modalOpen({
                id: "Form",
                title: "修改加工订单",
                url: "/Production/WorkOrder/Form?keyValue=" + keyValue + "&type=edit",
                width: "85%",
                height: "85%",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        } else {
            $.modalMsg("请选择要修改加工订单信息", "warning");
            return false;
        }
    }
    //删除订单
    function btn_delete_WorkOrder() {
        var keyValue = $("#gridList_WorkOrder").jqGridRowValue().ID;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.deleteForm({
                url: "/Production/WorkOrder/DeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    $("#gridList_WorkOrder").trigger("reloadGrid");
                }
            });
        } else {
            $.modalMsg("请选择要删除的加工订单信息", "warning");
            return false;
        }
    }
    //查看订单
    function btn_details_WorkOrder() {
        var keyValue = $("#gridList_WorkOrder").jqGridRowValue().ID;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.modalOpen({
                id: "Details",
                title: "查看加工订单",
                url: "/Production/WorkOrder/Details?keyValue=" + keyValue,
                width: "85%",
                height: "85%",
                btn: null,
            });
        } else {
            $.modalMsg("请选择要查看的加工订单信息", "warning");
            return false;
        }
    }

    //审批流程
    function btn_examination_WorkOrder() {
        var rowData = $("#gridList_WorkOrder").jqGridRowValue();
        if (rowData.length > 1) {
            $.modalMsg("只能选择一条数据发起流程", "warning");
            return false;
        }
        var DataId = rowData.ID;
        if (DataId) {
            if (rowData.Examinestatus != "未发起") {
                SeeApproval("WorkOrder", DataId);
            }
            else {
                var LoginUserCode = '@ViewBag.LoginUserCode';
                if (!LoginUserCode) {
                    LoginUserCode = rowData.InsertUserCode;
                }
                var OtherParma = "";
                if (rowData.OrderType == "jzjg") {
                    OtherParma = "集中加工";
                } else {
                    OtherParma = "外部采购";
                }
                var flag = examination(DataId, 'WorkOrder', rowData.Examinestatus, rowData.OrderCode, rowData.ProjectId, LoginUserCode, OtherParma);
                if (flag) {
                    //刷新单条数据
                    $("#gridList_WorkOrder").trigger("reloadGrid");
                    //调用父页面方法刷新预警数量
                    window.parent.getcount();
                }
            }
        }
        else {
            $.modalMsg("请选择要发起流程的信息", "warning");
            return false;
        }
    }

    //导出excel
    function btn_output() {
        var param = $(".search").GetSearchCondition();
        var id = $('#leftgridList').jqGrid('getGridParam', 'selrow');
        if (id != null && id != "" && id != undefined) {
            var siteCode = getOrganizationalCode(id);
            //重新加载报表数据
            var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
            param.SiteCode = siteCode;
            param.ProjectId = CompanyId.ProjectId;
        }
        var url = "@Url.Action("OutputExcel", "WorkOrder")";
        location.href = url + "?jsonData=" + escape(JSON.stringify(param));
    }

    //订单打包
    function btn_other1_WorkOrder() {
        var rowData = $("#gridList_WorkOrder").jqGridRowValue();
        var OrderCode = rowData.OrderCode;
        if (rowData.OrderCode) {
            if (rowData.Examinestatus == "审核完成") {
                $.modalOpen({
                    id: "WorkOrderPackIndex",
                    title: "订单打包",
                    url: "/Production/WorkOrder/WorkOrderPackIndex?OrderCode=" + OrderCode,
                    width: "90%",
                    height: "90%",
                    callBack: function (iframeId) {
                        top.frames[iframeId].SubmitOrderPackForm();
                    }
                });
            } else {
                $.modalMsg("此订单还未审核完成不能打包！", "warning");
                return false;
            }
        } else {
            $.modalMsg("请选择要打包的订单信息！", "warning");
            return false;
        }
    }

    //签收
    function AddSignFor(OrderCode, Examinestatus) {
        if (OrderCode && Examinestatus == "审核完成") {
            $.modalOpen({
                id: "WorkOrderSignForIndex",
                title: "构件签收",
                url: "/Production/WorkOrder/WorkOrderSignForIndex?SignForType=OrderSignFor&OrderCode=" + OrderCode,
                width: "90%",
                height: "90%",
                callBack: function (iframeId) {
                    top.frames[iframeId].SubmitOrderSignForForm();
                }
            });
        } else {
            $.modalMsg("此订单还未审核完成不能签收！", "warning");
            return false;
        }
    }

    //安装
    function AddInstall(OrderCode, Examinestatus) {
        if (OrderCode && Examinestatus == "审核完成") {
            $.modalOpen({
                id: "WorkOrderInstallIndex",
                title: "构件安装",
                url: "/Production/WorkOrder/WorkOrderInstallIndex?InstallType=OrderInstall&OrderCode=" + OrderCode,
                width: "90%",
                height: "90%",
                callBack: function (iframeId) {
                    top.frames[iframeId].SubmitOrderInstallForm();
                }
            });
        } else {
            $.modalMsg("此订单还未审核完成不能安装！", "warning");
            return false;
        }
    }
    function selectTabNew(id, OrderCode) {
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
        LodePackIndex(OrderCode);
    }
</script>
<div class="ui-layout-center">
    <div class="WorkOrder_tab_Info" id="WorkOrder_tab_Info">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group input-group-search">
                                <select id="SearchType" name="SearchType" class="form-control SearchType" style="width: 120px;">
                                    <option value="">全部</option>
                                    <option value="OrderCode">订单编号</option>
                                </select>
                                <input id="OrderCode" name="OrderCode" type="text" class="form-control SearchContent hidSearchContent" placeholder="订单编号" style="width: 140px; margin-left: 5px;">
                            </div>
                        </td>
                        <td>
                            <div class="btn-search">
                                <a class="btn btn-primary btn_searchOne" id="btn_searchOne">查询</a>
                                <a class="btn btn-primary btn_search" id="btn_search">结果中搜索</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="toolbar_WorkOrder" class="toolbar" style="float:left;margin-left:5px;">
                <div class="btn-group">
                    <a class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
                </div>
            </div>
        </div>
        <div class="gridPanel" style="margin-bottom:20px;">
            <table id="gridList_WorkOrder" class="gridList"></table>
            <div id="gridPager_WorkOrder" class="pager-fixed"></div>
        </div>
    </div>
    <div class="ProblemOrder_tab_Info" id="ProblemOrder_tab_Info" style="display:none">
        @{Html.RenderAction("Index", "ProblemOrder", new { area = "Production" });}
    </div>
    <div class="OrderPack_tab_Info" id="OrderPack_tab_Info" style="display:none">
        @{Html.RenderAction("OrderPackIndex", "WorkOrder", new { area = "Production" });}
    </div>
    <ul class="nav nav-tabs" style="position:fixed;bottom:0px;background-color:white">
        <li id="WorkOrder_tab_" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">加工订单</a></li>
        <li id="ProblemOrder_tab_" onclick="selectTab($(this))"><a href="javascript:void(0);">变更记录</a></li>
        <li id="OrderPack_tab_" onclick="selectTab($(this))"><a href="javascript:void(0);">包件二维码</a></li>
    </ul>
</div>
